html, body {
	height: 100vh;
}

body {
	background-color: #333333 !important;
}

header {
	display: flex;
	align-items: center;
}

header div {
	text-align: center;
	padding-left: 10px;
}

footer {
	background-color: #1c1c1c;
	color: #e8e8e8;
	/*height: 60px;*/
}

.container {
	background-color: #4f4f4f;
	color: #e8e8e8;
	/*height: calc(100vh - 60px);*/
}

.row {
	padding: 10px;
}

.project {
	padding: 10px;
	border: black solid 2px;
}

.profile-pic {
	width: 128px;
	height: 128px;
}