body {
	background-color: #333333 !important;
}

header {
	display: flex;
	align-items: center;
}

.container {
	background-color: #4f4f4f;
	color: #e8e8e8;
}

.profile-pic {
	width: 128px;
	height: 128px;
}