html, body {
	height: 100vh;
}

body {
	background-color: #333333 !important;
}

footer {
	background-color: #1c1c1c;
	color: #e8e8e8;
	text-align: center;
	/*height: 60px;*/
}

footer .row {
	float: none;
	margin: 0 auto;
}

a, a:visited {
	color: #3ad7ff !important;
	/*color: #42a1f4;*/
}

hr {
	margin: 0 !important;
	border-top: 2px solid rgba(0, 0, 0, 0.15) !important;
}

.container {
	background-color: #4f4f4f;
	color: #e8e8e8;
	/*height: calc(100vh - 60px);*/
}

.row {
	padding: 10px;
}

.project {
	padding: 10px;
	/*border: black solid 2px;*/
}

.project-header {
	display: flex;
	align-items: center;
}

.project-title {
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: underline;
	padding-left: 5px;
}

.project-img {
	width: 64px;
	height: 64px;
}

.work-title {
	font-size: 1.1em;
}

.skill-container {
	text-align: center;
	padding: 15px;
}

.skill {
	display: inline;
	color: #3ad7ff;
	border: #3ad7ff solid 2px;
	border-radius: 20px;
	padding: 10px;
}

.profile {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 5px !important;
}

.profile div {
	padding-left: 10px;
}

.profile-pic {
	width: 128px;
	height: 128px;
}