<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="My Website">
		<meta name="author" content="Isaiah Baker">
		<link rel="icon" href="">

		<title>Isaiah Baker - Software Developer</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">


	</head>
	<body>
		<div class="container">
			<header class="row">
				<img class="profile-pic" src="{{ url_for('static', filename='img/profile_pic.jpg')}}" alt="Profile pic">
				<div>
					<h1>Isaiah Baker</h1>
					<p>Software Developer</p>
				</div>
			</header>
			<div class="row">
				{% for i in data["projects"] %}
					<div class="col-md-4 project">
						<img src="{{ url_for('static', filename='')}}{{i.image}}">
						<p>{{ i.title }}</p>
						<a href="{{ i.link }}">{{ i.link }}</a>
						<p>{{ i.description }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
		<footer class="navbar navbar-fixed-bottom">
			<p>FOOTER</p>
		</footer>
	</body>
</html>