<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="My Website">
		<meta name="author" content="Isaiah Baker">
		<link rel="icon" href="">

		<title>Isaiah Baker - Software Developer</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">


	</head>
	<body>
		<div class="container">
			<header class="row">
				<img class="profile-pic" src="{{ url_for('static', filename='img/profile_pic.jpg')}}" alt="Profile pic">
				<div>
					<h1>Isaiah Baker</h1>
					<p>Software Developer</p>
				</div>
			</header>
			<h3>About</h3>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<p>About me. I'm a software engineer and I make lots of cool stuff and I love programming blah blah blah.</p>
				</div>
			</div>
			<h3>Work Experience</h3>
			<hr>
			<div class="row">
				{% for i in data["work"] %}
					<div class="col-md-12">
						<h6 class="work-title"><u><b>{{ i.title }}</b></u> - {{ i.employer }}</h6>
						<p>{{ i.description }}</p>
					</div>
				{% endfor %}
			</div>
			<h3>Projects</h3>
			<hr>
			<div class="row">
				{% for i in data["projects"] %}
					<div class="col-md-4 project">
						<div class="row project-header">
							<img class="project-img" src="{{ url_for('static', filename='')}}{{ i.image }}">
							<h6 class="project-title">{{ i.title }}</h6>							
						</div>
						<a href="{{ i.link }}">{{ i.link }}</a>
						<p>{{ i.description }}</p>
					</div>
				{% endfor %}
			</div>
			<h3>Certificates</h3>
			<hr>
			<div class="row">
				{% for i in data["udacityCourses"] %}
					<div class="col-md-12">
						<a href="{{ url_for('static', filename='') }}{{ i.link }}">{{ i.title }} (PDF)</a>
					</div>
				{% endfor %}
			</div>
			<h3>Skills</h3>
			<hr>
			<div class="row">
				{% for i in data["skills"]|sort() %}
					<div class="col-md-3 skill-container">
						<p class="skill">{{ i }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
		<footer class="navbar navbar-fixed-bottom">
			<p>FOOTER</p>
		</footer>
	</body>
</html>